body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background: linear-gradient(45deg, #10b981, #7c3aed, #2563eb);
}

nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 400px;
}

#titulo{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    color : white;
    font-size: 40px;
}

img{
    width: 100px;
    height: 100px;;
}   
